@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@500&display=swap');
html{
	background-color: #E1D0B7;	
}
.Header{
	font-family: 'Newsreader', serif;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.logo{
	display: flex;
	float: left;
	
}
.creator{
	display: flex;
	float:right;

}
.navbar{
	overflow: hidden;
	display: flex;

}
.navbar a{
	text-decoration: none;
	padding: 14px 16px;
	font-size: 17px;
	color:black;
	margin-top: 15px;
	transition: all 100ms ease-in-out;
}
.navbar a:hover{
	font-size: 20px;
}
.navbar a:active{
	font-size: 10px;
}