@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
html{
	background-color: #E1D0B7;	
	font-family: 'Montserrat', sans-serif;
}
.Header{
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.logo{
	display: flex;
	float: left;
	
}
.creator{
	display: flex;
	float:right;

}
.navbar{
	overflow: hidden;
	display: flex;

}
.weather{	
	font-size: 20px;
	font-weight: 500;
	justify-content: center;
}
.temp{
	text-align: center;
	
}
.humid{
	text-align: center;
	
}
.localwthr{
	text-align: center;
	
}
.ctry{
	text-align: center;
	
}
.locationinp input{
	text-align: center;
  	padding: 12px 20px;
  	box-sizing: border-box;
  	border: none;
  	background-color: #ccb99d;
  	color: black;
	border-radius: 20px;
}
.userContainer{
	text-align: center;
}