@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
html{
	background-color: #E1D0B7;	
	font-family: 'Montserrat', sans-serif;
}
.Header{
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.logo{
	display: flex;
	float: left;
	
}
.creator{
	display: flex;
	float:right;

}
.navbar{
	overflow: hidden;
	display: flex;

}
.navbar a{
	text-decoration: none;
	padding: 14px 16px;
	font-size: 17px;
	color:black;
	margin-top: 15px;
	transition: all 100ms ease-in-out;
}
.navbar a:hover{
	font-size: 20px;
}
.navbar a:active{
	font-size: 10px;
}
.weather{	
	font-size: 20px;
	font-weight: 500;
	justify-content: center;
}
.temp{
	text-align: center;
	
}
.humid{
	text-align: center;
	
}
.localwthr{
	text-align: center;
	
}
.locationinp input{
	text-align: center;
  	padding: 12px 20px;
  	box-sizing: border-box;
  	border: none;
  	background-color: #ccb99d;
  	color: black;
	
}
.btn button{
	border: none;
	box-sizing: border-box;
	padding: 0px 80.5px;
}
.userContainer{
	text-align: center;
}